.auth_wrap {
    background-image: url("/src/components/authForms/authForm/AuthImgs/wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 10%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    color: #fff;
}