@import "null.css";

.App {
    color: 
    rgba(255, 255, 255, 1);

    margin: 0 auto;
    height: 100%;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background: #282727;
    border-radius: 15px;
    height: 100px;

}


.image{
    width: 100% ;
    height: 1080px;
    background-size: 100%;
    background-image: url('assets/img/placeholder.png');
    background-repeat: no-repeat;
    background-position: 0 0;
   
}
h1{
    margin-bottom: 200px;
    padding-top: 100px;
    color: 
    rgba(255, 255, 255, 1);
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
    font-size: 72px;
    line-height: 150%;
    letter-spacing: 0.1rem;
}
