.pizza__shell {
    max-width: 1440px;
    margin: 0 auto;
}


.pizza__shell_buttonOrder{
    border-radius: 15px;
    margin-top: 50px;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: 600;
    background: rgba(74, 232, 112, 0.73);
}