.popup{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.71);
    top: 0;
    left: 0;
}
.popup__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px ;
}
.popup__content{
    background-color: #1f211f;
    padding: 40px 20px;
    height: 700px;
    width: 700px;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden ;
}
.popup__title{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.popup__btn-s{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;
}
.popup__button_close{
    padding: 15px 15px;
    background-color: #e03e3e;
    color: #1f211f;
    cursor: pointer;
    width: 150px;
    text-align: center;
    font-weight: 600;
    border-radius: 7px;
    font-size: 20px;
}
.popup__form{
    padding: 15px 15px;
    background-color: rgba(74, 232, 112, 0.73);
    color: #1f211f;
    cursor: pointer;

    text-align: center;
    font-weight: 600;
    border-radius: 7px;
    font-size: 20px;
}
.popup__form_button{
    background-color: rgba(28,28,28,0);
    font-size: 20px;
}
